.eHEQps{
    overflow-y: hidden;
    /* height: 100vh!important; */
}
/* .gTEtEZ{
margin-top: -1.5rem!important;
} */
.hIXYwz{
    display: none!important;
}
.cLcToi{
    display: none!important;
}

.betabtn{
    margin-right: 20px;
    padding: 6px;
    padding-right: 25px;
    padding-left: 25px;
}